@font-face {
     font-family: "Prata";
     src: local("Prata"),
          url('../fonts/prata-regular.woff2') format('woff2'),
          url('../fonts/prata-regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }
 
 @font-face {
     font-family: "Roboto";
     src: local("Roboto"),
          url('roboto-bold.woff2') format('woff2'),
          url('roboto-bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: "Roboto";
     src: local("Roboto"),
          url('roboto-light.woff2') format('woff2'),
          url('roboto-light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
 }
 
 @font-face {
     font-family: "Roboto";
     src: local("Roboto"),
          url('roboto-medium.woff2') format('woff2'),
          url('roboto-medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }
 
 @font-face {
     font-family: "Roboto";
     src: local("Roboto"),
          url('roboto-regular.woff2') format('woff2'),
          url('roboto-regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: "Playfair Display";
     src: local("Playfair Display"),
          url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
          url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
 }
 
 @font-face {
     font-family: "Playfair Display";
     src: local("Playfair Display"),
          url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
          url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }