html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 26px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: swap;
  overflow-wrap: break-word;
  color: #1B1A17;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__small {
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}

/* header */
header {
  /* padding-top: 56px; */
  margin-bottom: 35px;
  background-color: #fdfdfb;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
} 

.logo-link {
  display: flex;
  flex-basis: 104px;
  justify-content: space-between;
  align-content: center;

  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.14em;

  color: #555248;
}

.nav-list {
  flex-basis: 422px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: block;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  
  color: #555248;
}

.nav-link:hover {
  color: #FF7A50;
  transition: 0.2s ease-in-out;
}

.nav-list .nav-link::after,
.nav-list .nav-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF7A50;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-list .nav-link::before,
.nav-list .nav-link::before {
  position: absolute;
  content: "";
  bottom: 21px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF7A50;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-list .nav-link:hover::after,
.nav-list .nav-link:focus::after {
  width: 100%;
}

.nav-list .nav-link:hover::before,
.nav-list .nav-link:focus::before {
  width: 100%;
}

.user-list {
  display: flex;
  flex-basis: 100px; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  color: #ffffff;
  background-color: #FF7A50;
  text-align: center;
  border: 1px solid #FF7A50;
}


.btn-cart {
  position: relative;
  width: 19px;
  height: 18px;
  border: none;
  background-color: transparent;
  color: #363853;
}

.btn-cart:before {
  position: absolute;
  left: 16px;
  bottom: 8px;

  display: block;
  min-width: 14px;
  min-height: 14px;
  padding: 2px;

  content: attr(data-count);
  color: #ffffff;

  background-color: #FF7A50;
  border-radius: 50%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.btn-search {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.btn:hover {
  color: #FF7A50;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.btn-search:hover,
.btn-cart:hover {
  cursor: pointer;
}

.user-item {
  position: relative;
}

.user-link {
  color: rgb(27, 26, 23);
}


.icon {
  color: #1B1A17;
}

.icon-search {
  width: 16px;
  height: 16px;
}

.icon-favorites {
  width: 19px;
  height: 16px;
}

.icon-cart {
  width: 19px;
  height: 16px;
}

.form {
  position: absolute;
  top: 21px;
  right: -8px;
  z-index: 20;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form input, .form textarea {
  padding: 11px 15px;
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
}

.form input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 1.73;
}

.search-form {
  display: none;
  padding: 20px 15px;
}

.search-form input {
  min-width: 314px;
}

.user-search:hover .search-form {
  display: block;
}

.user-favorites .user-link {
  position: relative;
}

.user-favorites .user-link::after {
    position: absolute;
    left: 12px;
    bottom: 12px;
    display: block;
    min-width: 13px;
    min-height: 13px;
    padding: 2px;
    content: attr(data-count);

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;

    text-align: center;

    color: #1B1A17;
    background-color: #E6C8B4;
    border: 1px solid #1B1A17;
    border-radius: 50%;
}

/* main */
/* section promo */
.promo {
  position: relative;
  background-color: #fdfdfb;
  background-image: url("../img/promo_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.promo .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-text {
  max-width: 410px;
  flex-shrink: 0;
  margin: 0 8px;
  padding-left: 60px;
  padding-top: 115px;
}


.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 350px;
}

.promo-list-item {
  margin: 10px auto;
}

.promo-list li:first-child {
  margin-left: 0;
}

.promo-link {
  padding: 14px 22px;
  border-radius: 5px;
}

.promo-link .btn {
  box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
  border-radius: 5px;
}

.promo-img {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 670px;
  height: auto;
  margin: 0 8px;
  /* background-image: url('../img/promo_watch.png');
  background-size: cover;
  background-repeat: no-repeat; */
}

.promo-img__price,.promo-img__dimensions {
  font-family: "Prata";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.promo-img__price {
  position: absolute;
  align-self: flex-start;
}

.promo-img__currency {
  position: relative;
  font-family: "Prata";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.promo-img__currency::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 20px;
  width: 50px;
  height: 2px;
  background-image: url('../img/svg/line.svg');
}

.promo-img__watch {
  /* position: absolute; */
  max-width: 100%;
  /* left: 10px; */
  flex-shrink: 0;
}

.promo-img__dimensions {
  top: 77px;
  position: absolute;
  bottom: 208px;
  left: 381px;
}

.promo-img__size {
  position: relative;
}

.promo-img__size::before {
  position: absolute;
  content: "";
  bottom: 7px;
  left: -56px;
  width: 50px;
  height: 2px;
  background-image: url('../img/svg/line.svg');
}

.promo-text__heading {
  position: relative;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
}

.promo-text__heading::before {
  position: absolute;
  content: "";
  bottom: 24px;
  left: -66px;
  width: 50px;
  height: 2px;
  background-image: url('../img/svg/line.svg');
}